/* elements */

body {
  background-color: #ffffff; /* white */
  color: #000000; /* black */
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

a:link {
  color: #D4AF37; /* gold */
  text-decoration: none;
}

a:visited {
  color: #C0C0C0; /* silver */
  text-decoration: none;
}

a:hover {
  color: #D4AF37; /* gold */
}

dl dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5rem 0;
}

/* classes */

.content dd {
  margin-left: 0;
}

.main-section {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;

}

.post p {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 13pt;
}

.post .signoff {
  font-size: 12pt;
  font-style: italic;
  text-align: right;
}

.units-container h1 {
  padding-bottom: .2em;
}

/* by Tom */
.content li+li {
    margin-top: 1em;
}

div.hero-body {
    padding-top: 24px;
    padding-bottom: 24px;

}
