<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="Tamas Andrei Foldes static" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" type="text/css">
  <link rel="stylesheet" href="/css/screen.css" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="alternate" type="application/atom+xml" title="Alex Payne" href="/atom.xml">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
  <script src="/js/helpers.js"></script>
  <title>Tamas Andrei Foldes &mdash; {{ page.title }}</title>
</head>

<body>
  {% include nav.html %}
  {% include hero.html %}

  <section class="section main-section">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-half is-offset-one-quarter">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}
  {% include analytics.html %}
</body>

</html>
